<table align="center">
  
</table>


<table align="center">
<thead>
  <tr>
    <td align="center"><a target="_blank" href="https://cae.au.dk/en/research/key-areas-in-research-and-development/design-and-construction/construction-automation-and-information-technologies/people/">
        <img src="https://mbg.au.dk/fileadmin/site_files/mb/Logoer/au/aulogo.jpg" style="padding-bottom:5px;" height="70px"/></a></td>
      <td align="center"><a target="_blank" href="https://colab.research.google.com/github/kakke14/TA_Content/blob/master/advanced_technologies_in_construction/lecture_3/RTLS_Lecture.ipynb">
            <img src="https://i.ibb.co/2P3SLwK/colab.png"  style="padding-bottom:5px;"height="70px" /></a></td>
      <td align="center"><a target="_blank" href="https://github.com/kakke14/TA_Content">
            <img src="https://i.ibb.co/xfJbPmL/github.png"  height="70px" style="padding-bottom:5px;"  /></a></td>
            
  </tr>
</thead>
<tbody>
  <tr>
    <td>Visit AU research Group</td>
    <td>Run in Google Colab</td>
    <td>View Source on GitHub</td>
  </tr>
</tbody>
</table>

In [17]:
# Copyright 2022 AU Digital Construction. All Rights Reserved.
# 
# Use or modification of this code outside of the course should reference:
# Emil L. Jacobsen, Karsten W. Johansen, and Christos Chronopoulos 
# Lecture Notes Digital Construction 2022

# Lecture 3 - Real Time Location Systems
In this lecture you will get exposed to Python programming and location data. You will learn how to process the raw data output into tangible knowledge that can be used to analyze trajectories of construction assets.
You will encounter several codeblocks with ***TO DO*** written in them. This is where you will have to follow the instructions and fill out the missing code before running the cell.

## Install dependencies
For all colab exercises, we will be needing several python libraries. Some of them will be repeating dependencies for all exercises, while other might only be used in certain examples. For this lecture, we will install the following

These libraries are part of the Kernel running i Colab and are therefore redy to be imported with the following lines

In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

But how about a library that is not preinstalled ?? Unfortunately Traja is not....

In [19]:
# import traja

How do we get around missing libraries this ?? 
Normally it would just mean that we had to install the library with the python package manager called pip, using the command 'pip install [package name]'

If that is not possible, here is [Hint](https://colab.research.google.com/notebooks/snippets/importing_libraries.ipynb)

In [20]:
#### TODO ####
# Install Traja lib on the colab Kernel 

#### Sollution ####

# !pip install Traja

Hopefully you managed to install Traja and will be able to run the "import traja" line below. 

Most of the packages in python are well documented and an example is this library, which documentation is available in the following link.

[Traja Docs](https://traja.readthedocs.io/en/latest/index.html)

We are not going to use Traja just yet but now we knwo how to install libraries if these are not pre-installed

In [21]:
import traja

### Checkpoint 1
Note the the following into a .txt file#

1.   What command is used to install libraries in the python package manager?
2.   What is needed in order to run the same command in colab?

## Install the remaining libraries

In [22]:
#### TODO ####
#install : 
# lib1
# lib 2

## Load the data
For this part we are going to use pandas, which is a library for working with dataframes
Pandas documentation: [Read function](https://pandas.pydata.org/docs/user_guide/io.html#io)

The data that will be the subject for this lecture is RTLS data, more specifically UWB data recorded with the system that we used on the Demo day. 
The data is written as comma seperated data and the collomns correspond to:
<Data Header>,<tag ID>,<X>,<Y>,<Z>,<battery>,<timestamp>,<unit>,<DQI>,<GDOP>,<Locate-Details>,<LF>

In [23]:
df = pd.read_csv("A.txt", names=["Data_Header","tag_ID","X","Y","Z","battery","timestamp","unit","DQI","GDOP","Locate_Details"], converters = {'tag_ID': str})
df.head()

,Data_Header,tag_ID,X,Y,Z,battery,timestamp,unit,DQI,GDOP,Locate_Details
0,T,0025CB03,12.14,12.50,1.52,12,1.618572e+09,1,0.11,G0.53,S01-S02-S04-S05
1,T,0025CB03,12.01,12.63,1.52,12,1.618572e+09,1,0.29,G0.53,S01-S02-S04-S05
2,T,0025CB03,12.06,12.67,1.52,12,1.618572e+09,1,1.01,G0.53,S01-S02-S04-S05
3,T,0025CB03,12.04,12.64,1.52,12,1.618572e+09,1,0.30,G0.53,S01-S02-S04-S05
4,T,0025CB03,12.01,12.62,1.52,12,1.618572e+09,1,0.29,G0.53,S04-S05-S01-S02

That was reading the data, it may be interesting to figure out how many tags that are present in the data
but are there any smart ways to do so ? 
It would be interesting to find the number of unique values in the "tag_ID" coloumn ?

In [24]:
unique_tags = df.tag_ID.unique()
number_of_unique_tags = len(unique_tags)
print(f"There exists {number_of_unique_tags} in the tag_ID column and their IDs are: \n {unique_tags}")

There exists 5 in the tag_ID column and their IDs are:
 ['0025CB03' '0025C9EB' '0025C9E6' '0025CAF6' '0025CB05']

Now, what is the total duration of the data collected?
Could ve use max and min value of a column? 
Does the time format seem wierd? [epoch time](https://www.epochconverter.com/)

In [25]:
df.timestamp = pd.to_datetime(df.timestamp.values.astype(float),unit='s')
df

,Data_Header,tag_ID,X,Y,Z,battery,timestamp,unit,DQI,GDOP,Locate_Details
0,T,0025CB03,12.14,12.50,1.52,12,2021-04-16 11:16:20.170000128,1,0.11,G0.53,S01-S02-S04-S05
1,T,0025CB03,12.01,12.63,1.52,12,2021-04-16 11:16:20.306999808,1,0.29,G0.53,S01-S02-S04-S05
2,T,0025CB03,12.06,12.67,1.52,12,2021-04-16 11:16:20.441999872,1,1.01,G0.53,S01-S02-S04-S05
3,T,0025CB03,12.04,12.64,1.52,12,2021-04-16 11:16:20.579000064,1,0.30,G0.53,S01-S02-S04-S05
4,T,0025CB03,12.01,12.62,1.52,12,2021-04-16 11:16:20.716999936,1,0.29,G0.53,S04-S05-S01-S02
...,...,...,...,...,...,...,...,...,...,...,...
4690,T,0025C9EB,7.86,2.75,1.52,12,2021-04-16 11:19:15.657000192,1,0.00,G0.53,S01-S02-S04-S05
4691,T,0025CAF6,2.54,0.30,1.52,12,2021-04-16 11:19:15.726000128,1,0.85,G0.62,S04-S05-S01-S02
4692,T,0025CB03,11.93,12.45,1.52,12,2021-04-16 11:19:15.746000128,1,0.36,G0.53,S01-S02-S04-S05
4693,T,0025CB05,1.51,11.68,1.52,12,2021-04-16 11:19:15.788999936,1,*,G1.10,S01-S04-S05
4694,T,0025C9EB,7.85,2.51,1.52,12,2021-04-16 11:19:15.792000000,1,0.00,G0.53,S01-S02-S04-S05

That format seems more normal 
Now we just need to find the min and max value [min and max](https://www.kite.com/python/answers/how-to-find-the-max-value-of-a-pandas-dataframe-column-in-python)

In [26]:
min = df.timestamp.min()
max = df.timestamp.max()
duration = max-min
print(duration)

0 days 00:02:55.621999872

Now we know how many tags that are in the data, and the duration

what if we did this calculation for all tags, to see if they were active for the fulle duration

In [27]:
for tag in unique_tags:
    min = df.loc[df.tag_ID==tag].timestamp.min()
    max = df.loc[df.tag_ID==tag].timestamp.max()
    duration = max-min
    print(f"the data duration for tag {tag} is  {duration}")

the data duration for tag 0025CB03 is  0 days 00:02:55.576000
the data duration for tag 0025C9EB is  0 days 00:02:54.980999936
the data duration for tag 0025C9E6 is  0 days 00:02:54.399000320
the data duration for tag 0025CAF6 is  0 days 00:02:54.656000256
the data duration for tag 0025CB05 is  0 days 00:02:45.862999808

## Checkpoint 2

What is the percentage duration of each tag relative to the tag that has the longest duration?

Extend the above code to calculate this

In [39]:
durations = []

for tag in unique_tags:
    min = df.loc[df.tag_ID==tag].timestamp.min()
    max = df.loc[df.tag_ID==tag].timestamp.max()
    duration = max-min
    durations.append(duration)
    # print(f"the data duration for tag {tag} is  {duration}")
max_duration = np.max(durations)
print(max_duration)
for tag in unique_tags:
    min = df.loc[df.tag_ID==tag].timestamp.min()
    max = df.loc[df.tag_ID==tag].timestamp.max()
    duration = max-min
    pct_duration = round((duration/max_duration)*100,2)
    print(f"the data duration for tag {tag} is {duration} ~ {pct_duration}%")

0 days 00:02:55.576000
the data duration for tag 0025CB03 is 0 days 00:02:55.576000 ~ 100.0%
the data duration for tag 0025C9EB is 0 days 00:02:54.980999936 ~ 99.66%
the data duration for tag 0025C9E6 is 0 days 00:02:54.399000320 ~ 99.33%
the data duration for tag 0025CAF6 is 0 days 00:02:54.656000256 ~ 99.48%
the data duration for tag 0025CB05 is 0 days 00:02:45.862999808 ~ 94.47%

## Plotting the trajectory data
In python there are several libraries for plotting data, and Matplitlib is one of those. Matplotlib offers a great amout of features (if you are used to matlab, matplotlib can do the same, but maybe in a different way)

[Matplotlib tutorial](https://matplotlib.org/stable/tutorials/introductory/pyplot.html)

The tutorial contains this example, which we will take inspiration from (but slightly change):

```
names = ['group_a', 'group_b', 'group_c']
values = [1, 10, 100]

plt.figure(figsize=(9, 3))

plt.subplot(131)
plt.bar(names, values)
plt.subplot(132)
plt.scatter(names, values)
plt.subplot(133)
plt.plot(names, values)
plt.suptitle('Categorical Plotting')
plt.show()
```

In [28]:
%matplotlib qt
figure = plt.figure(figsize=(10,10))
axs = figure.add_subplot(221)
current_tag = None
for tag in unique_tags:
    current_tag  =  df.loc[df.tag_ID==tag]
    axs.plot(current_tag.X, current_tag.Y,'-', label=tag,linewidth=1)
    break
axs.set_title("Original data")
axs.set_xlabel("X [m]")
axs.set_ylabel("Y [m]")
axs.legend()

That data seems to be rather messy and to contain quite some noise

Any filters that we could apply ? how would a moving average filter effect the data?

In [29]:
# fig, axs = plt.subplots(2)
axs = figure.add_subplot(222)
MM_current_tag = current_tag.copy()
MM_current_tag.X = current_tag.X.rolling(10).mean()
MM_current_tag.Y = current_tag.Y.rolling(10).mean()
axs.plot(MM_current_tag.X, MM_current_tag.Y,'-', label=tag,linewidth=1)

axs.set_title("Moving Avg. 10")
axs.set_xlabel("X [m]")
axs.set_ylabel("Y [m]")
axs.legend()
figure.show()

In [30]:
axs = figure.add_subplot(223)
MM_current_tag = current_tag.copy()
MM_current_tag.X = current_tag.X.rolling(20).mean()
MM_current_tag.Y = current_tag.Y.rolling(20).mean()
axs.plot(MM_current_tag.X, MM_current_tag.Y,'-', label=tag,linewidth=1)

axs.set_title("Moving Avg. 20")
axs.set_xlabel("X [m]")
axs.set_ylabel("Y [m]")
axs.legend()
figure.show()

In [31]:
axs = figure.add_subplot(224)
MM_current_tag = current_tag.copy()
MM_current_tag.X = current_tag.X.rolling(30).mean()
MM_current_tag.Y = current_tag.Y.rolling(30).mean()
axs.plot(MM_current_tag.X, MM_current_tag.Y,'-', label=tag,linewidth=1)

axs.set_title("Moving Avg. 30")
axs.set_xlabel("X [m]")
axs.set_ylabel("Y [m]")
axs.legend()
figure.show()

Describe with words, how a simple moving average effect the data, and its validity
#### asd

## Now lets try build our own filtering algoritm
could we use some domain knowledge about where the tags were placed

what about filtering based on speed ? 
what about filtering based on displacement ?
An easy way to get this information from a trajectory is to use [get_derivatives()](https://traja.readthedocs.io/en/latest/calculations.html#derivatives)

How do we "mask" data ? 

# add description of data

In [32]:
df_copy = df.copy()
df_copy.timestamp = (df_copy.timestamp.values.astype(float))/1000000000
df_copy[['tag_ID','X','Y','timestamp']]


df_copy=df_copy.rename(columns={"X": "x", "Y": "y","timestamp":"time"})

figure = plt.figure(figsize=(10,10))
axs = figure.add_subplot(221)


for tag in unique_tags:
    df_tag = df_copy.loc[df_copy.tag_ID == tag]
    #just to show that we are dealing with the same tag
    axs.plot(df_tag.x, df_tag.y,'-', label=tag,linewidth=1)
    break
axs.set_title("Original Data")
axs.set_xlabel("X [m]")
axs.set_ylabel("Y [m]")



derivatives = df_tag.traja.get_derivatives() 
derivatives.head()
mask1 = derivatives.speed<2
mask2 = derivatives.speed>-2 
maskspeed  = mask1 & mask2
df_tag_speed = df_tag.loc[maskspeed]

axs = figure.add_subplot(222)   
axs.plot(df_tag_speed.x, df_tag_speed.y,'-', label=tag,linewidth=1)
axs.set_title("filter based on speed 2m/s")
axs.set_xlabel("X [m]")
axs.set_ylabel("Y [m]")
figure.show()

mask1 = derivatives.displacement<1
mask2 = derivatives.displacement>-1 
maskdisplace  = mask1 & mask2
df_disp = df_tag_speed.loc[maskdisplace]

axs = figure.add_subplot(223)   
axs.plot(df_disp.x, df_disp.y,'-', label=tag,linewidth=1)
axs.set_title("Displacement 1m")
axs.set_xlabel("X [m]")
axs.set_ylabel("Y [m]")
figure.show()

## trying another of the shelf filtering algorithm
The second filtering algorithm is a more sofisticated one. It is called [Savitzky–Golay](https://www.wikiwand.com/en/Savitzky%E2%80%93Golay_filter). 
It can be compared to fitting the data to a higher degree polynomial.

In [33]:
axs = figure.add_subplot(224)
sg_filtered = traja.smooth_sg(df_tag_speed,w=7) 
axs.plot(sg_filtered.x, sg_filtered.y,'-', label=tag,linewidth=1)
axs.set_title("Savitzky-Golay filtering")
axs.set_xlabel("X [m]")
axs.set_ylabel("Y [m]")
figure.show()

## Playing around with the filter 
Try to change the polynomial degree of the filter, and see the difference. 

What effet does the polynomial degree have?

## Are there others?

Do you happen to know other location data filtering algorithms?

What is the most used one for trajectory data?

Are there any python implementations available ?

# Things to consider (in the meeting )
What should we add to this lecture? 

Simple interfacing with BIM ?

In area analysis?

Crossing analysis?

Kepp the amount but make it harder - not give as much code?